	/*
  	Flaticon icon font: Flaticon
  	Creation date: 13/10/2018 17:59
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-setup:before { content: "\f100"; }
.flaticon-add:before { content: "\f101"; }
.flaticon-event:before { content: "\f102"; }
.flaticon-google-plus:before { content: "\f103"; }
.flaticon-facebook:before { content: "\f104"; }
.flaticon-instagram:before { content: "\f105"; }
.flaticon-brand:before { content: "\f106"; }
.flaticon-telegram:before { content: "\f107"; }
.flaticon-book:before { content: "\f108"; }
.flaticon-info:before { content: "\f109"; }
.flaticon-phone:before { content: "\f10a"; }
.flaticon-phone-1:before { content: "\f10b"; }
.flaticon-phone-2:before { content: "\f10c"; }
.flaticon-telephone:before { content: "\f10d"; }
.flaticon-mail:before { content: "\f10e"; }
.flaticon-mail-1:before { content: "\f10f"; }
.flaticon-pin:before { content: "\f110"; }
.flaticon-logout:before { content: "\f111"; }
.flaticon-multimedia:before { content: "\f112"; }
.flaticon-school:before { content: "\f113"; }
.flaticon-car:before { content: "\f114"; }
.flaticon-driving-license:before { content: "\f115"; }
.flaticon-study:before { content: "\f116"; }
.flaticon-www:before { content: "\f117"; }
.flaticon-www-1:before { content: "\f118"; }
.flaticon-www-2:before { content: "\f119"; }
.flaticon-partner:before { content: "\f11a"; }
.flaticon-group:before { content: "\f11b"; }
.flaticon-comment:before { content: "\f11c"; }
.flaticon-woman:before { content: "\f11d"; }
.flaticon-boy:before { content: "\f11e"; }
.flaticon-young:before { content: "\f11f"; }
.flaticon-woman-1:before { content: "\f120"; }
.flaticon-woman-2:before { content: "\f121"; }
.flaticon-plus:before { content: "\f122"; }
.flaticon-edit:before { content: "\f123"; }
.flaticon-bin:before { content: "\f124"; }
.flaticon-next:before { content: "\f125"; }
.flaticon-support:before { content: "\f126"; }
.flaticon-university:before { content: "\f127"; }
.flaticon-university-1:before { content: "\f128"; }